{% extends 'base.html.twig' %}

{% block title %}Facture!
{% endblock %}

{% block body %}
	<h1>
		Facture
	</h1>
	<table class="table">
		<thead>

			<tr>
				<th>id</th>
				<th>Quantité</th>
				<th>Prix unitaire
				</th>
				<th>totale En Dinars</th>
			</tr>

		</thead>

	</table>
{% endblock %}
