{{ form_start(form) }}
{{ form_widget(form) }}
<section class="content">
	<div
		class="container-fluid">
		<!-- Small boxes (Stat box) -->
		<div class="card-body">
			<div class="form-group">
				<label for="exampleInputtext">Nom de service</label>
				<input type="text" class="form-control" placeholder="entrer nom service ">
			</div>

		</div>
		{% block body %}{% endblock %}
	</div>
</section>
<button type="button" class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
