{% extends 'base.html.twig' %}

{% block title %}Edit Service
{% endblock %}

{% block body %}
	<h1>Edit Service</h1>


	{{ include('service/_form.html.twig', {'button_label': 'Update'}) }}

	<div style="float:right">
		<div class="btn-group ml-3 float-right mb-2" role="groupe">
			{{ include('service/_delete_form.html.twig') }}
		</div>

		<div style="float:right">
			<a href="{{ path('service_index') }}" class="userButton">
				<button class="btn btn-outline-secondary">Back</button>
			</a>
		</div>

	{% endblock %}
