<form method="post" action="{{ path('regime_a_l_delete', {'id': regime_a_l.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ regime_a_l.id) }}">
	<button class="btn">Delete</button>
</form>
