{% extends 'base.html.twig' %}

{% block title %}Edit RegimeAL
{% endblock %}

{% block body %}
	<h1>Edit RegimeAL</h1>

	{{ include('regime_al/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('regime_a_l_index') }}">
		<button type="button" class="btn btn-outline-secondary">back to list</button>
	</a>

	{{ include('regime_al/_delete_form.html.twig') }}
{% endblock %}
