{% block title %}New RegimeAL
{% endblock %}

{% block body %}
	{% include  'base3.html.twig' %}


	<a href="{{ path('regime_a_l_index') }}">
		<button type="button" class="btn btn-outline-secondary">back to list</button>
	</a>
{% endblock %}
