{% extends 'basee.html.twig' %}

{% block title %}Edit CadreMedicale
{% endblock %}

{% block body %}
	<h1>Edit CadreMedicale</h1>

	{{ include('cadre_medicale/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
