<form method="post" action="{{ path('app_repas_servis_delete', {'id': repas_servi.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ repas_servi.id) }}">
    <button class="btn">Delete</button>
</form>
