<form method="post" action="{{ path('app_nomonclature_delete', {'id': nomonclature.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nomonclature.id) }}">
	<button class="btn btn-outline-danger">Delete</button>
</form>
